<svg data-ng-class="opt.digitClass" viewBox="0 0 57 80" version="1.1" xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
    
      
    <g>
        <polyline data-ng-repeat="point in ::points" ng-attr-points="{{point}}" 
            data-ng-class="(segVal | bitAndWithBitwise : $index) && opt.onClass"></polyline>
    
        <circle cx="52" cy="75" r="5"  
            data-ng-class="(segVal | bitAnd : 128) && opt.onClass"></circle>
    </g>
</svg>


