<svg data-ng-class="opt.digitName" viewBox="0 0 57 80" version="1.1" xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
    
    <defs>
        <polyline id="h-part" points="11 0, 37 0, 42 5, 37 10, 11 10, 6 5"></polyline>
        <polyline id="v-part" points="0 11, 5 6, 10 11, 10 34, 5 39, 0 34"></polyline>
    </defs>
    
    <g class="seven-seg-group">
        <use xlink:href="#h-part" x="0" y="0" 
            data-ng-class="(segVal | bitAnd : 1) && opt.onName"></use>
        
        <use xlink:href="#v-part" x="-48" y="0" transform="scale(-1,1)" 
            data-ng-class="(segVal | bitAnd : 2)  && opt.onName"></use>
        
        <use xlink:href="#v-part" x="-48" y="-80" transform="scale(-1,-1)" 
            data-ng-class="(segVal | bitAnd : 4) && opt.onName"></use>
        
        <use xlink:href="#h-part" x="0" y="70" 
            data-ng-class="(segVal | bitAnd : 8) && opt.onName"></use>
        
        <use xlink:href="#v-part" x="0" y="-80" transform="scale(1,-1)"  
            data-ng-class="(segVal | bitAnd : 16) && opt.onName"></use>
        
        <use xlink:href="#v-part" x="0" y="0"  
            data-ng-class="(segVal | bitAnd : 32) && opt.onName"></use>
        
        <use xlink:href="#h-part" x="0" y="35"  
            data-ng-class="(segVal | bitAnd : 64) && opt.onName"></use>
            
        
        <circle cx="52" cy="75" r="5"  
            data-ng-class="(segVal | bitAnd : 128) && opt.onName"></circle>
    </g>
</svg>


