<div data-ng-if="!segOptions.align" class="seven-seg-digit-wrapper" data-ng-style="wrapperStyle" 
    data-ng-repeat="i in emptyArr track by $index" seg-digit-once seg-val="0"></div><!--

--><div class="seven-seg-digit-wrapper" data-ng-style="wrapperStyle" 
    data-ng-repeat="dig in digits track by $index" seg-digit data-ng-model="dig"></div><!--

--><div data-ng-if="segOptions.align" class="seven-seg-digit-wrapper" data-ng-style="wrapperStyle" 
    data-ng-repeat="i in emptyArr track by $index" seg-digit-once seg-val="0"></div>