<ul>
    <li>
        Support below characters
        <ul>
            <li>
                <span class="text-warning">special character</span>: 
                    point(.) hyphen(-) underscore(_) space( )
            </li>
            
            <li>
                <span class="text-warning">alphabet</span>: 'SEG'
            </li>
            
            <li>
                <span class="text-warning">numbers</span>: [0-9]
            </li>
        </ul>
    </li>
    
    <li>
        Align digits into left basically.
    </li>
</ul>