<ul>
    <li>
        Support below characters
        <ul>
            <li>
                <code>special character</code>: 
                
                <span class="text-warning">
                    point(.) hyphen(-) underscore(_) space( )
                </span>
            </li>
            
            <li>
                <code>alphabet</code>: 
                
                <span class="text-warning">
                    'SEG'
                </span>
            </li>
            
            <li>
                <code>numbers</code>:
                
                <span class="text-warning">
                    [0-9]
                </span>
            </li>
        </ul>
    </li>
    
    <li>
        Align digits into left basically.
    </li>
</ul>