<ul>
    <li>
        A dot resides in a digit with other character together 
        because angular-7segments reflects real seven segments.
        
    </li>
    <li>
        However, if dot's left is either 
        a <mark>dot</mark> or 
        a <mark>space</mark>, then the dot occupies isolated digit.
        <div class="text-warning">
            eg) 1..1 .. -> [1.] [.] [1] [.] [.] 
            ( <span class="text-danger">[ ] </span> means one digit. )
        </div>
    </li>
    
    <li>
        Also, if a dot is 
        <mark>the first character</mark>, then the dot holds one distinct digit.
        <div class="text-warning">eg) .1. -> [.] [1.]</div>
    </li>
    
    <li>
        Unless, a dot resides in one digit with other friend.
        <div class="text-warning">eg) 1.1.1. -> [1.] [1.] [1.] </div>
    </li>
    
    
</ul>