<ul>
    <li>
        <code>watch</code> : Watch change of option if 'option.watch' is true.
        <span class="text-warning">
            ('watch' defaults false)
        </span>
    </li>
    
    <li>
        <code>size</code> : Digits length depends upon 'option.size'.
    </li>
    
    <li>
        <code>align</code> : Whether align left or right
        <ul>
            <li>
                left: 
                <span class="text-danger">'left'</span>, 
                <span class="text-danger">false</span>,
                <span class="text-danger">undefined</span>
            </li>
            
            <li>
                right: 
                <span class="text-danger"> 'right' </span>
                <span class="text-danger"> true </span>
            </li>
        </ul>
    </li>
</ul>