{
    "env": {
        "browser": true
    },
    "globals": {
        "angular": false,
        "minErr": false,
        "segDigitDirective": false,
        "segGroupDirective": false,
        "bitAnd": false,
        "segmentProvider": false,
        "bitAndWithBitwise": false
    }
}