{
    "env": {
        "browser": true
    },
    "globals": {
        "angular": false,
        "minErr": false,
        "segDigitDirective": false,
        "segDigitGroupDirective": false,
        "segMap": true,
        "bitAnd": false,
        "segmentProvider": false,
        "bitAndWithBitwise": false,
        "segPoints": true
    }
}